.opentip-definition-table-31245{
    font-family: Tahoma;
    font-size: 14px;
    line-height: 22px;
    border-spacing: 0px;
    border-collapse: separate;
    direction: ltr;
}
.opentip-definition-table-31245 th{
    text-align: center;
    padding: 10px;
}
.opentip-definition-table-31245 td, th{
    padding: 7px;
    font-weight: normal;
}
